/**** public ****/
::-webkit-scrollbar { 
    width:5px;            
    height:5px;            
}
::-webkit-scrollbar-thumb {
    background-color:#1e282c;                
    background-clip:padding-box;                
    min-height:28px;                
    }                
    ::-webkit-scrollbar-thumb:hover {                
    background-color:#1e282c;                
}
body{
    background-color: #f3f6f7;
    font-size: 14px;
}
table td, table th {
    white-space: nowrap;
}
table tr.inline td input,table tr.inline td select
{
    margin: 0;
    width:auto;
}
td a, td button {
    margin-right:5px !important;
}
/*** top nav***/
nav,.top-bar{
    background-color: #18bc9c;
    width: 100%;
    height: 50px;
}
nav .left{
    background-color: #15a589;
    width:230px;
    height: 100%;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
nav .right{
    position:absolute;
    right:10px; 
    top:6px;  
    z-index:100; 
}
nav .right a {
    color: #fff ;
    /* background-color: #15a589 ; */
}
nav .right .is-active a {
    color: #fff !important;
    background-color: #15a589 ;
}
nav .right .is-active a:hover {
    background-color: #18bc9c ;
}
nav .right a::after {
    border-color: #fff transparent transparent !important;
    display: none;
}
nav .right ul{
    background-color: #18bc9c;
}
.top-bar, .top-bar ul{
    background-color: #18bc9c;    
}
.top-bar, .top-bar ul li a{
    color: #fff;
    font-size: 14px; 
}

/**** left sidebar begin ****/
.left-sidebar{
    background-color: #222d32;
    width: 230px !important;
    min-height: calc(100vh - 50px);   
    font-size: 14px;
}
.left-sidebar li, .off-canvas-wrapper li{
    min-height: 42px;
}
.left-sidebar li.header, .off-canvas-wrapper li.header{
    color: #4b646f;
    background: #1e282c;
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.left-sidebar ul a,.off-canvas-wrapper ul a{
    color: #b8c7ce;
}

.left-sidebar ul a:hover{
    color: #fff;
    background-color: #1e282c;
    border-left: 3px solid #18bc9c ;
}
.left-sidebar ul a.active, .off-canvas-wrapper ul a.active{
    color: #fff;
    background-color: #1e282c;
    border-left: 3px solid #18bc9c ;
}

ul.left-menu-large a::after,.left-sidebar ul a::after{
    border-color: #b8c7ce transparent transparent !important;
}
.left-sidebar ul a:hover::after{
    border-color: #fff transparent transparent !important;
}

.left-sidebar i,.off-canvas-wrapper i{
    margin-right: 10px;
}

.left-sidebar .is-active > a, .off-canvas-wrapper .is-active > a {
    background: #1e282c;
    border-left: 3px solid #18bc9c ;
}

.accordion-menu .nested.is-accordion-submenu {
    margin-right: 0;
    margin-left: 0; 
}

.menu.nested {
    margin-right: 0;
    margin-left: 0; 
}

.off-canvas-wrapper ul li a{
    color: #b8c7ce;
    font-size: 14px;
}


/***** main right begin *****/

.main{
    background-color: #f3f6f7;  
    /* overflow-y: scroll; */
    /* min-height: calc(100vh - 132px);       */  
}

.breadcrumbs{    
    height: 40px;
    line-height: 40px;
    margin:0px;
}
.callout-breadcrumbs{
    margin: 0 ;
    padding: 0.2rem 0 0.2rem 1rem;
}

.pagination a, .pagination button {
    display: inline;
}

table.border tr,table.border th,table.border td{
    border: 1px solid #0a0a0a;
}
table.border.gray tr,table.border.gray th,table.border.gray td{
    border: 1px solid #cacaca;
}

/*** footer ***/
.main-footer{
    background-color: #fff; 
    height: 50px; 
    line-height: 50px;
    text-align: center; 
    position: fixed;
    bottom: 0;    
}

.fa-circle:before {
    font-size: 1px;
}

table tr .switch {
    margin-bottom: 0rem;
}
table tr .switch .switch-active,table tr .switch .switch-inactive {
    top: 60%;
}

.user-menu a:hover {
    background-color: #26a58c;
}

.parent::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-top-color: currentcolor;
    border-top-style: inset;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-width: 6px;
    border-left-color: currentcolor;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #2ba6cb transparent transparent;
    position: absolute;   
    margin-top: -8px;
    right: 1rem;
}

.pagination {
    max-width: 100rem;
}
.pagination select {
    width: 6rem;
    margin-left: 5px;
    height: 1.75rem;
    padding: 0.1rem 0.5rem;
    background-position: right 0.3rem center
}
.pagination .customer-page-size {
    margin-left: 8px;
}
.pagination input {
    width: 3rem;
    display: inline-block;
    height: 1.75rem;
    margin-left: 8px;
}
.pagination button {
    padding: 0.42rem .625rem;
    margin-left: 8px;
    vertical-align: inherit;
}
.pagination .count {
    margin-right: 8px;
}



